<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 此处与接口类地址对应 -->
<mapper namespace="com.example.demo.mapper.UserMapper">

    <resultMap id="UserResult" type="User">
        <id property="id" column="id"></id>
        <result property="userName" column="username"></result>
        <result property="passWord" column="password"></result>
        <collection property="posts" ofType="Post">
            <id property="id" column="post_id"></id>
            <result property="userId" column="p_user_id"></result>
            <result property="title" column="title"></result>
            <result property="content" column="content"></result>
        </collection>
    </resultMap>

    <sql id="SelectSql">
        select * from user
    </sql>

    <select id="selectUserList" resultMap="UserResult">
        <include refid="SelectSql"></include>
    </select>

    <select id="getUserById" parameterType="Integer" resultMap="UserResult">
        <include refid="SelectSql"></include>
        where id = #{id}
    </select>

    <select id="getUserByUserName" parameterType="String" resultMap="UserResult">
        <include refid="SelectSql"></include>
        where username = #{userName}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(
        <if test="id != null and id != 0">id,</if>
        <if test="userName != null and userName != ''">username,</if>
        <if test="passWord != null and passWord != ''">password</if>
        )values(
        <if test="id != null and id != 0">#{id},</if>
        <if test="userName != null and userName != ''">#{userName},</if>
        <if test="passWord != null and passWord != ''">#{passWord}</if>
        )
    </insert>

    <select id="selectLearn" parameterType="Integer" resultType="hashmap">
        <include refid="SelectSql"></include>
        where id = #{id}
    </select>

    <select id="selectUserAndPost" resultMap="UserResult">
        SELECT
            u.id AS id,
            u.username AS username,
            u.password AS password,
            p.id AS post_id,
            p.user_id AS p_user_id,
            p.title AS title,
            p.content AS content
        FROM
            user u
            LEFT JOIN post p ON p.user_id = u.id
    </select>

</mapper>