<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 此处与接口类地址对应 -->
<mapper namespace="com.example.demo.mapper.UserMapper">

    <resultMap id="UserResult" type="User">
        <id property="id" column="id"></id>
        <result property="userName" column="username"></result>
        <result property="passWord" column="password"></result>
    </resultMap>

    <select id="selectUserList" resultMap="UserResult">
        select * from user
    </select>

    <select id="getUserById" parameterType="Integer" resultMap="UserResult">
        select * from user where id = #{id}
    </select>

    <select id="getUserByUserName" parameterType="String" resultMap="UserResult">
        select * from user where username = #{userName}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(
        <if test="id != null and id != 0">id,</if>
        <if test="userName != null and userName != ''">username,</if>
        <if test="passWord != null and passWord != ''">password</if>
        )values(
        <if test="id != null and id != 0">#{id},</if>
        <if test="userName != null and userName != ''">#{userName},</if>
        <if test="passWord != null and passWord != ''">#{passWord}</if>
        )
    </insert>

</mapper>