<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 此处与接口类地址对应 -->
<mapper namespace="com.example.demo.mapper.UserMapper">

    <resultMap id="userResult" type="User">
        <id property="id" column="id"/>
        <result property="userName" column="username"/>
        <result property="passWord" column="password"/>
        <!--一种方式-->
        <!--<association property="blog" column="id" javaType="Blog" select="selectBlog"/>-->
        <!--二种方式-->
        <!--<association property="blog" column="blog_id" javaType="Blog" resultMap="blogResult"/>-->
        <!--三种方式-->
        <association property="blog" javaType="Blog">
            <id property="id" column="blog_id"/>
            <result property="userId" column="b_user_id"/>
            <result property="blogName" column="blog_name"/>
        </association>
        <!--一种方式-->
        <!--读作： “posts 是一个存储 Post 的 ArrayList 集合”-->
        <!--<collection property="posts" column="id" javaType="arraylist" ofType="Post" select="selectPost"/>-->
        <!--二种方式-->
        <collection property="posts" ofType="Post">
            <id property="id" column="post_id"/>
            <result property="userId" column="p_user_id"/>
            <result property="title" column="title"/>
            <result property="content" column="content"/>
        </collection>
    </resultMap>

    <resultMap id="blogResult" type="Blog">
        <id property="id" column="blog_id"/>
        <result property="userId" column="b_user_id"/>
        <result property="blogName" column="blog_name"/>
    </resultMap>

    <sql id="selectSql">
        select * from user
    </sql>

    <select id="selectUserList" resultMap="userResult">
        <include refid="selectSql"/>
    </select>

    <select id="getUserById" parameterType="Integer" resultMap="userResult">
        <include refid="selectSql"/>
        where id = #{id}
    </select>

    <select id="getUserByUserName" parameterType="String" resultMap="userResult">
        <include refid="selectSql"/>
        where username = #{userName}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user(
        <if test="id != null and id != 0">id,</if>
        <if test="userName != null and userName != ''">username,</if>
        <if test="passWord != null and passWord != ''">password</if>
        )values(
        <if test="id != null and id != 0">#{id},</if>
        <if test="userName != null and userName != ''">#{userName},</if>
        <if test="passWord != null and passWord != ''">#{passWord}</if>
        )
    </insert>

    <select id="selectLearn" parameterType="Integer" resultType="hashmap">
        <include refid="selectSql"/>
        where id = #{id}
    </select>

    <select id="selectUserAndPost" resultMap="userResult">
        SELECT
            u.id AS id,
            u.username AS username,
            u.password AS password,
            p.id AS post_id,
            p.user_id AS p_user_id,
            p.title AS title,
            p.content AS content,
            b.id as blog_id,
            b.user_id as b_user_id,
            b.blog_name
        FROM
            user u
            left join blog b on b.user_id = u.id
            LEFT JOIN post p ON p.user_id = u.id
    </select>

    <select id="selectBlog" resultType="Blog">
        select
            b.id as id,
            b.user_id as userId,
            b.blog_name as blogName
        from
            blog b
        where
            b.user_id = #{id}
    </select>

    <select id="selectPost" resultType="Post">
        SELECT
            p.id,
            p.user_id,
            p.title,
            p.content
        FROM
            post p
        WHERE
            p.user_id = #{id}
    </select>

</mapper>